[user]
	name = Rafael Ferreira
	email = mail
[color]
    ui = auto
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    l = log --pretty=easy
    ll = log --pretty=easy --graph
    lg = log -p
    last = log -n 1 -p

[pretty]
    easy = %C(yellow)%h %C(green)(%an, %ad)%C(reset) %s %C(bold blue)%d%C(reset)
