[user]
	name = Rafael Ferreira
	email = mail
[color]
  ui = auto

[alias]
  aa = add --all
  st = status
  ci = commit -v
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  l = log --pretty=easy
  lg = log --pretty=easy --graph
  ld = log -p
  last = log -n 1 -p
  amend = commit --amend
  pull = pull --rebase

[pretty]
  easy = %C(yellow)%h%C(reset) %s %C(green)(%ar)%C(reset) %an %C(bold blue)%d%C(reset)

[merge]
  tool = vimdiff

[core]
  excludesfile = ~/.gitignore
  pager = less -F -X
[push]
  default = simple
