[user]
  name = Rafael Ferreira
  email = rafa@rafasf.com
	signingkey = 6637CDA3784FA8D2

[push]
  default = current

[color]
  ui = auto

[alias]
  aa = add --all
  st = status
  ci = commit -v
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  co = checkout
  df = diff
  dc = diff --cached
  l = log --pretty=easy
  lg = log --pretty=easy --graph
  ld = log -p
  last = log -n 1 -p
  ri = !$(freb)

[pretty]
  easy = %C(yellow)%h%C(reset) %<(72,trunc)%s %C(green)(%ar)%C(reset) %an %C(bold blue)%d%C(reset)

[merge]
  tool = vimdiff
  ff = only

[core]
  excludesfile = ~/.gitignore
  autocrlf = input

[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[commit]
	gpgsign = true
[pull]
	rebase = true
[init]
	defaultBranch = main
