"$schema" = 'https://starship.rs/config-schema.json'

format = """
$kubernetes\
$directory\
$git_branch\
$docker_context\
$aws\
$gcloud\
$mise\
$cmd_duration\
$line_break\
$jobs\
$battery\
$status\
$os\
$container\
$shell\
$character"""
